<html>
    <head>
        <title> 
            TO-DO APP
        </title>
        <link rel="stylesheet" href="home.css">
        <script src="https://kit.fontawesome.com/2770690ce5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="main">
            <div class="todoHeading">TODO APP</div>
            <!-- form for taking input of description , category, duedate and creating a add button-->
            <div class="formDiv">
                <form action="/details" method="POST">
                    <div id="descDic"> 
                        <label for="desc" class="entryHeading" style="margin-left: 5%;">DESCRIPTION</label><br>
                        <textarea type = "text" name="description" id="desc" cols="73%" rows="3%" placeholder="what do you need to do?"></textarea>
                    </div>
                    <div class="catDateDiv">
                        <div id="categoryDiv">
                             <label for="category" class="entryHeading">CATEGORY</label><br>
                            <select  type = "text" name="category" id="category" >
                                <option value="">Choose a category</option>
                                <option value="Personal">Personal</option>
                                <option value="Work">Work</option>
                                <option value="Office">Office</option>
                                <option value="School">School</option>
                                <option value="Daily">Daily</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div id="dateDiv">
                            <label for="duedate" class="entryHeading">DUE DATE</label><br>
                            <input type="date" name="duedate" id="duedate" value="NO DEADLINE">
                        </div>
                    </div>

                        <button id="adding" class="common-buttons"><i class="fas fa-plus">&nbsp;</i>ADD TASK</button>
                        
                </form>
            </div>
                <!-- form for delete button and for printing the value -->
                <form action="/delete-contact" method="get">
                    <button id="deleteButton" class="common-buttons" type="submit"><i class="fas fa-trash-alt">&nbsp;</i>DELETE TASKS</button>
                    <ul class="list">
                        <%for(let i of details){%>
                            <li class="singleList">
                                <div class="listInside">
                                    <div class="listInside1">
                                        <div style="display: flex; ">
                                            <input type="checkbox" name="<%=i._id%>" value=<%=i._id%> id="checkBox">
                                            <label for="checkBox"><%=i.description%></label><br>
                                        </div>
                                        <div style="margin-left: 5%; font-size: 0.8rem; margin-top: 1%;">
                                            <i class="fas fa-calendar-week"></i>
                                            <%= i.duedate%>
                                        </div>
                                    </div>
                                    <div class="listInside2">
                                        <span><%= i.category%></span>
                                    </div>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                </form>
        </div>
    </body>
</html>